.headermenu{
padding-left: 110;
display:inline-block;
font-size: 1.4em;
}
.searchbar{
margin-top: 25;
padding-left:320;
display:inline-block;
}

.body{
position:fixed;
z-index: 999;
background: #FFFFFF;
top:0%;
}

.header{
position:fixed;
z-index: 999;
background: #FFFFFF;
top:0%;
}
.lights_off{
 	background-color: #FFFFFF;
}
.skipForm {
    margin-left: 46em;
    background: -webkit-linear-gradient(#000000 , #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000 , #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #FFFFFF); /* Standard syntax (must be last) */
    width:50em;height:28em;
    padding-left:5;position:absolute;
    display:inline-block;
    top:7em;
    
}
.skipInputStype{

}

.myTable{
}

div.content { width: 800px }

